<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-init-method="init"
       default-destroy-method="destroy">

    <!-- A simple bean definition -->
    <bean name="hello-nl" class="com.shengtian.service.hello.HelloNetherlands" lazy-init="default" init-method="init"
          destroy-method="destroy"
          scope="singleton">
        <property name="message1" value="Hello"/>
        <property name="message2" value="Netherlands"/>
    </bean>

    <bean name="hello-cn" class="com.shengtian.service.hello.HelloChina" parent="hello-nl">
        <property name="message2" value="China"/>
    </bean>

</beans>